body{
    background: radial-gradient(white 80%, lightgray 100%)
}
.embed-btn{
    font-size: large;
    color: gray;

    height: 50px;
    width: 100px;

    background-color: white;

    border-radius: 25px;
    border: solid;
    border-color: lightgray;
    border-width: 1px;

    transition: translate 0.1s,
    color 0.1s,
    border-color 0.1s,
    background-color 0.1s,
    box-shadow 0.1s;
}
.embed-btn:hover{
    cursor: pointer;

    color: black;

    border-color: white;
    translate: 0 -2px;
    box-shadow: 0 5px 10px rgb(0,0,0,0.3);
}
.embed-btn:active{
    translate: 0 0;
    border-color: gray;
    background-color: lightgray;
    box-shadow: 0 0 0;
}

.maintitle{
    font-size: xx-large;
    font-family: arial;
}

.wtg{
    width: auto;
    height: 50px;
    background: linear-gradient(white 30%, #97e483 100%);
}
.gtw{
    width: auto;
    height: 50px;
    background: linear-gradient(lightgray 30%, white 70%);
}

.paneltitle{
    text-align: center;
    font-size: x-large;
    vertical-align: bottom;
    text-shadow: 0 5px 10px rgb(0,0,0,0.3);
}

.greenpanel{
    font-family: Arial ;
    color: green;

    background: linear-gradient(white 30%, #97e483 60%);

    height: auto;
    width: auto;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whitepanel{
    font-family: arial;
    color: gray;

    background-color: white;

    height: auto;
    width: auto;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

img{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.l-img{
    height: 200px;
    width: 200px;
}

.s-img{
    height: 100px;
    width: 100px;
}

.img-btn{

    border: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 10%;

    width: 125px;
    height: 200;

    transition: translate 0.1s,
    box-shadow 0.1s,
    border-color 0.1s;
}
.img-btn:hover{
    border-color: white;
    translate: 0 -2px;
    box-shadow: 0 5px 10px rgb(0,0,0,0.3);
}