p{
    font-family: Arial;
}

.green-panel{
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 100px;

    font-size: large;
    text-align: center;

    color: black;
    background-color: rgb(205, 255, 205);

    border-radius: 15px;
    box-shadow: 0 0 25px rgb(0,0,0,0.3);

    height: 500px;
}

button{
    font-size: large;
    height: 50px;
    width: 100px;

    background-color: white;
    color: gray;


    border-radius: 10px;
    border: solid;
    border-width: 1px;
    border-color: lightgray;

    transition: border-width 0.1s,
    border-bottom-width 0.1s,
    box-shadow 0.1s,
    color 0.1s;
}
button:hover{
    color: lime;
    background-color: white;

    border-width: 0px;
    border-bottom-width: 1px;

    box-shadow: 0 5px 10px rgb(0,0,0,0.3);
}
button:active{
    color: green;
    background-color: lightgray;

    border-width: 0px;

    box-shadow: none;
}

.titleimg{
    display: inline;
    height: 75px;
    width: 75px;
}

.title{
    display: inline;
    font-weight: bolder;
    font-size: xx-large;
    font-family:Tahoma;
    color: black;

    border-width: 5px;
    text-shadow: 0 10px 10px rgb(0,0,0,0.3);
}

.coolpanel{
    display: inline-block;
    width: 500px;
    padding: 25px;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 10px;

    background-color: white;
    box-shadow: 0 10px 20px rgb(0,0,0,0.3);

    text-align: center;
    font-size: large;
}

.coolheader{
    font-size: xx-large;
    font-family: Arial;
    color: black;
    text-align: center;
    text-shadow: 0 0 45px black;
}

.container{
    display: flex;
    align-items:center;
    justify-content: center;
}

.container-left{
    display: flex;
    align-items:center;
    justify-content: left;
}

img{
    display: inline-flex;
    border-radius: 10px;
    max-width: 300px;
    max-height: 300px;
}

.miniimg{
    border-radius: 5px;
    height: 50px;
    width: 50px;
    position:absolute;
    left: -65px;
}

.imagebutton{
    height: 150px;
    width: 150px;
    border-radius: 30px;
    margin: 10px;
    box-shadow: 0 10px 20px rgb(0,0,0,0.3);

    transition: border-radius 0.2s,
    transform 0.1s,
    box-shadow 0.3s;
}
.imagebutton:hover{
    border-radius: 10px;
    transform: translate(0, -10px);
    box-shadow: 0 30px 30px rgb(0,0,0,0.3);
}

.visible{
    text-align: center;
    align-items: center;
    height: 50px;
    width: 50px;
}
.visible:hover .hidden{
    display:block;
}

.hidden{
    display: none;
}

.center{
    text-align: center;
    align-items: center;
}

body{
    background-image: linear-gradient(white, rgb(182, 255, 179));
}

.static{
    top: 10px;
    right: 10px;
    padding: 10px;
    position:fixed;
    border-radius: 25px;
    border-style:outset ;
    background-color: white;
    box-shadow: 10px 10px 10px rgb(0,0,0,0.3);
}

iframe{
    display: inline;
    border-radius: 25px;
    box-shadow: 0 10px 25px rgb(0,0,0,0.3);
}