p{
    font-family: Arial;
}

.green-panel{
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 100px;

    font-size: large;
    text-align: center;

    color: black;
    background-color: rgb(205, 255, 205);

    border-radius: 15px;
    box-shadow: 0 0 25px rgb(0,0,0,0.3);

    height: 500px;
}

button{
    font-size: large;
    height: 50px;
    width: 75px;

    background-color: lightgreen;
    color: white;

    box-shadow: 0 0 25px rgb(0,0,0,0.3);
    border-radius: 15px;
    border: none;

    transition: color 0.1s,
    background-color 0.1s,
    box-shadow 0.1s;
}
button:hover{
    font-size: larger;
    color: black;
    background-color: white;
    box-shadow: 0 0 15px rgb(0,0,0,0.5);
}

.title{
    font-weight: bolder;
    font-size: xx-large;
    font-family: Arial;
    color: green;
}