.boxlh{
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;

    color: greenyellow;

    margin-top: 180px;
    text-align: center;
}

.boxl{
    display: flex;
    justify-content: space-between;
    align-items: center;

    left: 10px;
    right: 30px;

    height: 100px;

    font-size: 25px;
    background-color: white;
}

.showcase{
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.boxb{
    display: flex;
    align-items: center;

    left: 10px;
    right: 30px;

    height: 100px;

    font-size: 25px;

    background-color: darkolivegreen;
}